body {
    font-family: "Lato", sans-serif;
}

.footer-style {
    background-color: #000;
    min-height: 60px;
    color: #fff
}


.appbox {
    display: flex;
    min-height: 100vh;
    background-color: darkgray;
}

.my-link
{
    color: #fff;
}

.my-link:hover
{
    color:#fff;
    text-decoration:none
}

