@model CreateTrainingPlanViewModel



<div id="create-training" class="w-100">
<h2 class="d-flex justify-content-center mt-3 mb-3">Utwórz Plan Treningu</h2>
    <form asp-action="CreateTrainingPlan" method="post">
        <input type="hidden" asp-for="CreatorId"/>
        <div class="form-group m-3">
            <label class="font-weight-bold" asp-for="TrainingPlanName">Nazwa planu</label>
            <input class="form-control" asp-for="TrainingPlanName"/>
            <div class="border-top border-primary my-5"></div>
        </div>
        <div class="form-group m-3">
            <div v-for="(planItem, index) in planItems">
                <div class="form-group">
                    <label asp-for="ExercisesSelectList">Ćwiczenie: </label>
                    <select class="form-control" asp-items="@Model.ExercisesSelectList" v-model="planItem.exerciseId" :name="`PlanItems[${index}].ExerciseId`"></select>
                </div>
                <table class="table table-dark">
                    <thead>
                    <tr>
                        <th scope="col">Seria</th>
                        <th scope="col">Obciążenie(kg)</th>
                        <th scope="col">Ilość powtórzeń</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>
                            <input class="form-control" type="number" v-model="planItem.weight" :name="`PlanItems[${index}].Weight`"/>
                        </td>
                        <td>
                            <input class="form-control" type="number" v-model="planItem.reps" :name="`PlanItems[${index}].Reps`"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <button type="button">Dodaj serie</button>
                <div class="border-top border-primary my-5"></div>

            </div>
            <button v-on:click.prevent="addNext" class="btn btn-success">+ Dodaj ćwiczenie </button>
        </div>
        <div class="form-group m-5">
            <input type="submit" value="Utwórz plan" class="btn btn-primary form-control"/>
        </div>
    </form>
</div>

<script src="~/scripts/add-next-exercise.js"></script>