@model ShowAllCreatedTrainingPlanViewModel

    <div>
        <form asp-action="DeleteTrainingPlan">
            <input type="hidden" asp-for="PlanId" />
            <input type="submit" value="Usuń" class="btn btn-danger" />
        </form>
    </div>
