@model ShowAllCreatedTrainingPlanViewModel

<h1>Twoje plany trningowe</h1>

@foreach(var plan in Model.TrainingPlans)
{
<a asp-action="TrainingPlanDetails" asp-controller="TrainingPlan" asp-route-TrainingPlanId="@plan.Id"><h2>@plan.TrainingPlanName</h2> <h2>@plan.CreatedDate</h2></a> 
} 