@model TrainingPlanDetailsViewModel

<h2 class="d-flex justify-content-center mt-3 mb-3">@Model.TrainingPlanName</h2>
    <div class="m-lg-5 m-md-5 m-sm-5 m-1">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Ćwiczenie</th>
                    <th>Obciążenie (kg)</th>
                    <th>Ilość powtórzeń</th>
                </tr>
            </thead>
            @foreach (var planItems in Model.PlanItems)
            {
                <tbody>
                    <tr>
                        <td>@planItems.Exercise.Name</td>
                        @if (planItems.Weight == 0)
                        {
                            <td>Brak obciążenia</td>
                        }
                        else
                        {
                            <td>@planItems.Weight</td>
                        }
                        <td>@planItems.Reps</td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
