@model TrainingPlanDetailsViewModel

<table class="table table-dark">
    <thead>
        <tr>
            <th>Ćwiczenie</th>
            <th>Obciążenie (kg)</th>
            <th>Ilość powtórzeń</th>
        </tr>
    </thead>
    @foreach (var planItems in Model.PlanItems)
    {
        <tbody>
            <tr>
                <td>@planItems.Exercise.Name</td>
                @if (planItems.Weight == 0)
                {
                    <td>Brak obciążenia</td>
                }
                else
                {
                    <td>@planItems.Weight</td>
                }
                <td>@planItems.Reps</td>
            </tr>

        </tbody>
    }
</table>


