@using Microsoft.AspNetCore.Identity
<!DOCTYPE html>
@inject SignInManager<IdentityUser> SignInManager

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/content/login.css" rel="stylesheet" />
    <link href="~/content/site.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="~/lib/jquery/jquery.js"></script>
</head>
<body>
    <div class="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" asp-action="Index" asp-controller="Home">BodyProgress</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a asp-action="AddExercise" asp-controller="Exercise" class="nav-link">Dodaj ćwiczenie</a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="ShowAllExercises" asp-controller="Exercise" class="nav-link">Pokaż ćwiczenia</a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="CreateTrainingPlan" asp-controller="TrainingPlan" class="nav-link">Stwórz plan</a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="ShowAllCreatedTrainingPlan" asp-controller="TrainingPlan" class="nav-link">Pokaż moje plany treningowe</a>
                    </li>
                </ul>
                @if (SignInManager.IsSignedIn(User))
                {
                    <form asp-controller="Account" asp-action="Logout" id="logoutForm" method="post" class="ml-auto">
                        <ul class="m-0 p-0">
                            <li class="nav-link text-warning">@User.Identity.Name <a class="text-decoration-none" href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a></li>

                        </ul>
                    </form>
                }
                else
                {
                    <ul class="navbar-nav ml-auto">
                        <li>
                            <a asp-action="Register" asp-controller="Account" class="nav-link">Rejestracja</a>
                        </li>
                        <li>
                            <a asp-action="Login" asp-controller="Account" class="nav-link">Zaloguj</a>
                        </li>
                    </ul>
                }
            </div>
        </nav>
        <div>
            @RenderBody()
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <span class="d-flex justify-content-center pt-3">&copy; 2020 BodyProgress, by azure3us</span>
        </div>
    </footer>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
</body>
</html>
