@model ExerciseViewModel


@foreach (var exercise in Model.Exercises)
{
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <b>@exercise.Name</b>
            @exercise.PartOfBody.Name
            <a asp-action="DeleteExercise" asp-controller="Exercise" asp-route-Id="@exercise.Id">Usuń</a>
            <a asp-action="EditExercise" asp-controller="Exercise" asp-route-Id="@exercise.Id">Edytuj</a>
        </li>
    </ul>
}
