@model LoginViewModel

@{ 
    Layout = "~/Views/Shared/LayoutForAccount.cshtml";
}

    <div class="sidenav">
        <div class="login-main-text">
            <h2>Okno logowania <a asp-action="Index" asp-controller="Home" class="text-decoration-none">BodyProgress</a></h2>
            <h4>Zaloguj się, aby uzykać dostęp.</h4>
            <p>Jeśli nie masz konta kliknij -> <a class="text-decoration-none" asp-action="Register" asp-controller="Account">ZAREJESTRUJ</a></p>
        </div>
        <footer class="footer">
            <div class="container">
                <span class="d-flex justify-content-center pt-3">&copy; 2020 BodyProgress, by azure3us</span>
            </div>
        </footer>
    </div>
<div class="main">
    <div class="col-md-6 col-sm-12"> 
        <div class="login-form">
            <form asp-action="Login" asp-controller="Account" method="post">
                <div class="form-group">
                    <div class="form-group">
                        <input placeholder="Nazwa użytkownika" asp-for="UserName">
                    </div>
                    <div class="form-group">
                        <input placeholder="Hasło" asp-for="Password">
                    </div>
                    <input type="submit" class="btn btn-success" value="Zaloguj" />
                </div>
            </form>
        </div>
    </div>
</div>