@model LoginViewModel


@{
    Layout = "~/Views/Shared/LayoutForAccount.cshtml";
}

    <div class="sidenav">
        <div class="login-main-text">
            <h2>Okno rejestracji <a asp-action="Index" asp-controller="Home" class="text-decoration-none">BodyProgress</a></h2>
            <h4>Aby korzystać z aplikacji musisz posiadać konto.</h4>
            <p>Jeśli masz już konto kliknij -> <a class="text-decoration-none" asp-action="Login" asp-controller="Account">ZALOGUJ</a></p>
        </div>
        <footer class="footer">
            <div class="container">
                <span class="d-flex justify-content-center pt-3">&copy; 2020 BodyProgress, by azure3us</span>
            </div>
        </footer>
    </div>
<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">
            <form asp-action="Register" asp-controller="Account" method="post">
                <div class="form-group">
                    <input placeholder="Nazwa użytkownika" asp-for="UserName">
                </div>
                <div class="form-group">
                    <input placeholder="Hasło" asp-for="Password">
                </div>
                <input type="submit" class="btn btn-success" value="Zarejestruj" />
            </form>
        </div>
    </div>
</div>